body{
    font-family: 'inter', sans-serif;
    background-color: rgb(7, 7, 7);
    color: rgb(243, 240, 240);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    width: 100%;
}
div.container{
    flex: 1;
}
h1, h2, h3, h4, h5{
    font-family: 'prata', serif;
}
h1{
    font-size: 3rem;
}
/*Styling the header and the nav bar*/
header{
    display: flex;
    margin: 0 50px;
    height: 50px;
    padding: 30px 0;
}
nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
nav .first{
    margin: 16px 0;
    padding-left: 50px;
}
nav ul, a{
    text-decoration: none;
    color: white;
    padding: 0;
}
nav > ul > li{
    padding: 0 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav a:hover{
    text-decoration: underline;
    text-shadow: 20px;
}
.btn button{
    height: 50px;
    width: 120px;
    background-color: gold;
    border: 1px solid black;
    border-radius: 20px;
}
.btn button:hover{
    border: 2px solid gold;
    background-color: rgb(7, 7, 7);
    color: gold;
}
/*Moving to the next section after styling the header*/

#top{
    position: relative;
    margin: 50px 0 50px 50px;
}
.info{
    width: 50%;
    margin-left: 50px;
}
/*.me > img{
    position: absolute;
    right: -100px;
    width: 40%;
}*/
.sec2{
    text-align: center;
    margin: 50px ;
}
h3{
    margin: 50px 0;
    text-align: center;
}
.logos a{
    padding: 20px 30px;
}
.logos a img{
    padding-top: 10px;
}
/*Styling section 3*/
#sec3{
    margin: 50px;
    display: flex;
    gap: 20px;
}
/* All h3 header should follow this rule*/
h3:hover{
    color: gold;
    text-decoration: underline;
}
/*The rule above apply to all h3 header on the website*/
/*The card style below also apply to all cards in section 4*/
.card img{
    width: 100%;
    height: 293px;
}
/*Styling section 4. both card under this 
section are linked to section 3 card, so they must follow the rule*/
#sec4{
    margin: 50px 0;
    background-color: rgb(74, 74, 83);
    padding: 50px;
    display: flex;
    gap: 20px;
}

/*Styling section 5*/
#sec5{
    margin: 50px;
}
.work button{
    border-radius: 0;
}
/*Styling the footer*/
footer{
    margin: 50px 0 0;
    display: flex;
    height: 50px;
    background-color: rgb(74, 74, 83);
}
.foot{
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 16px 50px;
}
footer > .foot > a{
    font-size: 1rem;
    padding: 0;
}

/*styling the social media handles*/
.s-media a{
    padding: 0 5px;
}
.s-media a img{
    width: 20px;
    height: 20px;
}
/*Styling socail media handle on index page*/

@media/* (min-width: 426px) and */(max-width: 768px){
    header{
        margin: 0 20px;
    }
    nav .first{
        padding-left: 0;
    }
    #top{
        margin: 0px;
    }
    .info{
        width: 100%;
        margin: 30px 20px;
    }
    .info > h1, .info > p{
        margin: 0;
    }
    #sec3{
        margin: 30px 20px;
        display: block;
    }
    .card{
        margin-bottom: 20px;
    }
    .card h2{
        font-size: 2rem;
    }
    #sec4{
        margin: 30px 0;
        padding: 20px;
        display: block;
    }
    #sec5{
        margin: 30px 20px;
    }
    footer{
        margin: 30px 0 0;
    }
    .foot{
        margin: 16px 20px;
    }
}
